@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

.dashboard-container {
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  color: #047aed;
  font-weight: bolder;
}

.dashboard .grid {
  grid-template-columns: 0.5fr 2fr 1fr;
  align-items: flex-start;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.dashboard nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.dashboard a:hover {
  font-weight: bold;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}

.text-primary {
  color: #047aed;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.p-3 {
  padding: 2rem;
}
